* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Oxygen", sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/* HEADER */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 125px;
  background-color: #5be7cd;
  padding: 10px;
  width: 100%;
}

.header > h1 {
  margin-left: 78px;
  font-weight: 700;
  font-size: 50px;
}

.ocr {
  color: #ffffff;
}

.header > img {
  width: 70px;
  height: 45px;
  margin-right: 110px;
}

/* MAIN */

.welcome {
  display: flex;
  flex-direction: column;
  height: 110px;
  margin: 25px auto auto 80px;
  font-weight: 400;
  line-height: 47px;
}

.welcome > h2 {
  color: #5c5c5c;
}

.fileSuccess {
  text-align: center;
  color: #2a9e7b;
  font-weight: 700;
  font-size: 30px;
}

.upload-contanier {
  display: flex;
  font-family: "Inter";
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border: 1px solid #5c5c5c;
  border-radius: 8px;
  width: 700px;
  height: 350px;
  margin: 20px auto;
}

.upload-contanier img {
  width: 70px;
}

.file-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.file-text {
  margin: 5px;
}

.uploadAgainBtn {
  width: 200px;
  height: 50px;
  font-size: 16px;
  font-weight: 700;
  padding: 5px;
  color: #5c5c5c;
  border: 1px solid #5bb4e7;
  border-radius: 10px;
  margin: 20px auto;
}

.uploadAgainBtn:hover {
  background-color: #5bb4e7;
  border: 1px solid #31759b;
  color: #232323;
}

.saveBtn {
  width: 200px;
  height: 50px;
  font-size: 16px;
  color: #232323;
  font-weight: 700;
  background-color: #5bb4e7;
  border: 1px solid #31759b;
  border-radius: 10px;
  margin: 20px auto;
}

.saveBtn:hover {
  color: #5c5c5c;
  border: 1px solid #5bb4e7;
  border-radius: 10px;
  background-color: #ffffff;
}

.btn-container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
